:root {
  --background-color: #363b46;
  --element-background: #404855;
}

.app {
  height: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main {
  display: grid;
  grid-template-areas:
    'canvas description'
    'canvas editor';
  justify-content: space-evenly;
  width: 100%;
}

.description {
  grid-area: description;
  font-size: 1.1rem;
}

.canvas {
  grid-area: canvas;
  background-color: var(--element-background);
  position: relative;
  height: 70vmin;
  width: 70vmin;
  font-size: 1vmin;
}

.node {
  /* Some styles are applied dynamically */
  height: 2vh;
  width: 2vh;
  font-size: 1.65em;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.edge-label {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.5em;
  color: magenta;
}

.graph-editor {
  grid-area: editor;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  resize: none;
  width: 80vmin;
}

.editor-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 1em;
  margin: 5px;
}

.editor-bar > * {
  margin: 0px 10px;
  max-width: 100%;
}

.invisible {
  opacity: 0;
}

.error{
  font-size: 1.5rem;
  color: red;
  margin: auto;
}

textarea {
  margin-top: 10px;
  min-height: 8.3em;
  font-size: 1.3em;
}

@media (max-width: 640px) {
  main {
    grid-template-areas:
      'description'
      'canvas'
      'editor';
  }
  .canvas {
    height: 90vmin;
    width: 90vmin;
    min-height: 90vmin;
    min-width: 90vmin;
  }
  .graph-editor {
    width: 90vw;
  }
  .editor-bar {
    flex-direction: column;
  }
}
