:root {
  --background-color: #363b46;
  --element-background: #404855;
  --hover: #535e70;
  --text: white;
  --element-text: rgb(230, 230, 230);
  --highlight: rgb(161, 0, 161);
}

* {
  box-sizing: border-box;
}

.app {
  height: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--text);
}

.app h1 {
  text-decoration: underline;
  text-decoration-color: var(--highlight);
}
main {
  display: grid;
  grid-template-areas:
    'canvas description'
    'canvas editor';
  gap: 1rem;
  justify-content: space-evenly;
  place-items: center;
  width: 100%;
  padding: 10px;
}

.description {
  grid-area: description;
  font-size: 1.1rem;
  text-align: justify;
  padding: 1rem;
}

.canvas {
  grid-area: canvas;
  background-color: var(--element-background);
  position: relative;
  height: 70vmin;
  width: 70vmin;
  font-size: 1vmin;
}

.node {
  /* Some styles are applied dynamically */
  height: 2vh;
  width: 2vh;
  font-size: 1.65em;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.edge-label {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2.5em;
  color: var(--highlight);
}

.graph-editor {
  grid-area: editor;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  resize: none;
  width: 80vmin;
}

.editor-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 1em;
  margin: 5px;
}

.editor-bar > * {
  margin: 0px 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.invisible {
  opacity: 0;
}

.error{
  font-size: 1.5rem;
  color: red;
  margin: auto;
}

input,
select {
  border: 1px solid var(--hover);
  background-color: var(--element-background);
  color: var(--element-text);
  min-width: 200px;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s;
}

input:hover,
select:hover {
  background-color: var(--hover);
}

textarea {
  margin-top: 10px;
  min-height: 8.3em;
  font-size: 1.3em;
  background-color: var(--element-background);
  border: none;
  border-radius: 5px;
  color: var(--element-text);
}

@media (max-width: 640px) {
  main {
    grid-template-areas:
      'description'
      'canvas'
      'editor';
    padding: 0;
  }
  .canvas {
    height: 90vmin;
    width: 90vmin;
    min-height: 90vmin;
    min-width: 90vmin;
  }
  .graph-editor {
    width: 90vw;
  }
  .editor-bar {
    flex-direction: column;
  }
}
