:root {
  --background-color: #282c34;
  --element-background: #2d323b;
}

.app {
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.canvas {
  background-color: var(--element-background);
  position: relative;
  height: 60vmin;
  width: 60vmin;
}

.node {
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  font-size: 2vh;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  color: black;
}

.graph-editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  resize: none;
  width: 70vw;
}

.editor-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 1em;
  margin: 10px;
}

.editor-bar > * {
  margin: 0px 10px;
  max-width: 100%;
}

.valid-base {
  display: flex;
  justify-content: center;
  place-items: center;
}
.valid > * {
  opacity: 0;
}

textarea {
  margin: 10px;
  min-height: 10em;
  resize: none;
}

@media (max-width: 480px) {
  .canvas {
    height: 90vmin;
    width: 90vmin;
  }
  .graph-editor {
    width: 90vw;
  }
  .editor-bar {
    flex-direction: column;
  }
}
